<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DIGO.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
				<key>dateExpires</key>
				<string>05/08/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMTabBarAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>280A49BEDC3743D49D9E70C91A28B7F460EF05F5</string>
						<key>dateExpires</key>
						<string>05/08/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F9QTFXL8LY</string>
						<key>name</key>
						<string>ADM Systems Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F9QTFXL8LY.com.app.digo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F9QTFXL8LY</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>F9QTFXL8LY.com.app.digo</string>
				</array>
			</dict>
			<key>name</key>
			<string>DIGO.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5b5095ae-035b-4337-b831-3db2d27f1835</string>
				<key>name</key>
				<string>digo_development_certificate</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F9QTFXL8LY</string>
				<key>name</key>
				<string>ADM Systems Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
